* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
   background-image: url(bg.jpg);
  background-size: cover;
}

.flex-container{
    width: 90vw;
    margin: 20px auto;
    padding: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    gap: 10px;
    display: flex;
    border:3px;
    border-radius: 1rem;
}

.pokeball{
    display: none;
}
.name{
    display: none;
    size: 32rem;
}

.box{
    width: auto;
    padding: 20px;
    text-align: center;
    box-shadow: 7px 7px 10px;
    flex-grow: 1;
}

img{
    width: 250px;
    padding: 0.5rem;
    justify-content: center;
}

#box1{
    background-color: #f4d647;
}
#box2{
    background-color: rgb(255, 243, 77);
}
#box3{
    background-color: rgb(0, 116, 10);
}
#box4{
    background-color: rgb(153, 255, 70);
}
#box5{
    background-color: rgb(255, 145, 0);
}
#box6{
    background-color: rgb(255, 218, 54);
}
#box7{
    background-color: rgb(230, 198, 94);
}
#box8{
    background-color: rgb(85, 192, 241);
}
#box9{
    background-color: rgb(252, 167, 255);
}
#box10{
    background-color: rgb(223, 216, 158);
}
#box11{
    background-color: rgb(239, 255, 209);
}
#box12{
    background-color: rgb(57, 107, 201);
}


@media (max-width:1135px){
    .flex-container{
        flex-direction: column;
    }
    .box{
        width: auto;
        padding: 20px;
        text-align: center;
        border-radius: 10px;
        text-align: left;
    }
    .img{
        width: 60px;
    }
    .box:hover{
        background-image: url("haunter.png");
    }
    .name{
        display:inline-block;
    }
}
